<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #362f2f; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
}

.container {
  width: 400px; 
  background-color: black; 
  padding: 20px;
  text-align: center;
}

.field {
  margin-bottom: 10px;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

.field label {
  display: block;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="checkbox"] {
  width: 100%;
  padding: 5px;
  color: black; 
}

.actions input[type="submit"] {
  padding: 10px 20px;
  background-color: darkpink;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.actions input[type="submit"]:hover {
  background-color: lightpink;
}
</style>
</head>
<body>
<div class="container">
  <h2>Log in</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</body>
</html>
