<!DOCTYPE html>
<html>
<head>
<style>

.container {
  width: 60%;
  margin: auto;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  position: fixed; /* Set the navigation bar to a fixed position */
  top: 0; /* Place the navigation bar at the top */
  width: 100%; /* Set the width to occupy the full width of the viewport */
}

.navbar a {
  display: inline-block;
  padding: 20px 25px; /* Reduced padding for the buttons */
  background-color: white; /* Set button background to white */
  color: black; /* Set button text color to black */
  text-decoration: none;
  border-radius: 50px; /* Make the button round */
  margin-left: 10px;
}

.navbar a.button-small {
  padding: 5px 10px; /* Reduced padding for small buttons */
}

.navbar a:first-child {
  margin-left: 0;
}

.navbar a:hover {
  background-color: darkpink;
  color: white;
}

.post {
  margin-bottom: 20px;
}

.post p {
  margin: 5px 0;
}

.post img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  background-color: white; /* Set search bar background to white */
  color: black; /* Set search bar text color to black */
  margin-right: 3px;
  border-radius: 50px; /* Make the search bar round */
}

.search-button {
  padding: 8px 16px;
  background-color: white; /* Set search button background to white */
  color: black; /* Set search button text color to black */
  border: none;
  border-radius: 50px; /* Make the search button round */
  cursor: pointer;
}
</style>
</head>
<body>
<div class="navbar">
  <% if current_account.business_account? %>
    <%= link_to 'Add Product', new_product_myproducts_url, class: 'button button-small' %>
  <% else %>
    <%= link_to 'Buy Product', products_path, class: 'button button-small' %>
  <% end %>
  <%= link_to 'New Post', new_post_path, class: 'button button-small' %>
  <%= link_to 'View My Posts', new_post_myposts_url, class: 'button button-small' %>
  <%= button_to "Sign Out", destroy_account_session_path, method: :delete %>
  <%= link_to 'Message', posts_path, class: 'button button-small' %>
</div>
 
<div class="container">
  <h1><em>Insta-Commerce</em></h1>
  <% @posts.each do |post| %>
    <div class="post">
      <p>Name: <%= post.account.name %></p>
      <p>Email: <%= post.account.email %></p>
      <p>Likes: <%= post.get_likes.size %></p>
      <% if current_account.voted_down_on?(post) %>
        <%= button_to 'Like', like_path(post) %>
      <% else %>
      <%= button_to 'Disike', dislike_path(post) %>
      <% end %>

      <% post.pictures.each do |pics| %>
        <%= image_tag(pics, size: "200x300") %>
      <% end %><br>
       <%= link_to 'Show', post_path(post), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
</body>
</html>
