<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: auto;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: black; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  display: inline-block;
  padding: 20px 25px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 0; 
  margin-left: 10px;
  transition: background-color 0.3s;
}

.navbar a.button-small {
  padding: 5px 10px;
}

.navbar a:first-child {
  margin-left: 0;
}

.navbar a:hover {
  background-color: darkgray;
  color: white;
}

.post-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post {
  background-color: black;
  color: white;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0; 
}

.post p {
  margin: 5px 0;
}

.post img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.show-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 0; 
  margin-top: 10px;
}

.show-button:hover {
  background-color: lightgray;
  color: black;
}

</style>
</head>
<body>
<div class="navbar">
  <% if current_account.business_account? %>
    <%= link_to 'Add Product', new_product_myproducts_url, class: 'button button-small' %>
  <% else %>
    <%= link_to 'Buy Product', products_path, class: 'button button-small' %>
  <% end %>
  <%= link_to 'New Post', new_post_path, class: 'button button-small' %>
  <%= link_to 'View My Posts', new_post_myposts_url, class: 'button button-small' %>
  <%= button_to "Sign Out", destroy_account_session_path, method: :delete %>
  <%= link_to 'Chat', rooms_path, class: 'button button-small' %>
</div>
 
<div class="container">
  <h1><em>Insta-Commerce</em></h1>
  <div class="post-container">
    <% @posts.each do |post| %>
      <div class="post">
        <p>Username: <%= post.account.name %></p>
        <p>Likes: <%= post.get_likes.size %></p>
        <% if current_account.voted_down_on?(post) %>
          <%= button_to 'Like', like_path(post) %>
        <% else %>
        <%= button_to 'Disike', dislike_path(post) %>
        <% end %>

        <% post.pictures.each do |pics| %>
          <%= image_tag(pics, size: "200x300") %>
        <% end %><br>
        <%= link_to 'Show', post_path(post), class: 'show-button' %>
      </div>
    <% end %>
  </div>
</div>
</body>
</html>
