<!DOCTYPE html>
<html>
<head>
  <title>Edit Post</title>
  <style>

    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #4f4b4a; 
    }

    .edit-container {
      max-width: 600px;
      margin: auto;
      background-color: #fff; 
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .edit-container h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .edit-form {
      margin-top: 20px;
    }

    .edit-form label,
    .edit-form input[type="text"],
    .edit-form textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    .edit-form textarea {
      resize: vertical;
      height: 100px;
    }

    .edit-form input[type="submit"] {
      background-color: #4f4f4f; 
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .edit-form input[type="submit"]:hover {
      background-color: #555; 
    }

    .edit-links {
      margin-top: 20px;
      text-align: center;
    }

    .edit-links a {
      color: #000;
      text-decoration: none;
      margin-right: 20px;
    }

  </style>
</head>
<body>
  <div class="edit-container">
    <h1>Edit Post</h1>

    <%= form_with(model: @post, local: true, class: 'edit-form') do |form| %>

    <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


      <%= form.label "pictures" %>
      <%= form.file_field :pictures, multiple: true %>


      <%= form.label :description %>
      <%= form.text_area :description %>

      <%= form.submit 'Update Post' %>
    <% end %>

    <div class="edit-links">
      <p><%= link_to 'Show', @post %></p>
      <p><%= link_to 'Back to All Posts', posts_path %></p>
      <p><%= link_to 'Back to My Account', root_path %></p>
    </div>
  </div>
</body>
</html>

