<!DOCTYPE html>
<html>
<head>
<style>
/* Your CSS styles here */
</style>
</head>
<body>
<div class="container">
  <!-- ... -->
  <h1>My Posts</h1>
  <h2>Followers:</h2>
  <% followers = current_account.followers %>
    <% followers.each do |follower| %>
    <p>Name: <%= follower.name %></p>
  <% end %>

  <h2>Following:</h2>
  <% following = current_account.following %>
    <% following.each do |followed_account| %>
    <p>Name: <%= followed_account.name %></p>
  <% end %>

  <% @posts.each do |post| %>
    <% if post.account.id == current_account.id %>
      <div class="post">
        <p>Created At: <%= post.created_at %></p>
        <p>Updated At: <%= post.updated_at %></p>
        <% post.pictures.each do |pic| %>
          <%= image_tag(pic, size: "200x300") %>
        <% end %>
        <div class="post-buttons">
          <%= link_to 'Edit', edit_post_path(post), class: 'button' %>
          <%= link_to 'Delete', post_path(post), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this post?' }, class: 'button' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</body>
</html>
