<h1><%= @post.description %></h1>

<%# if @post.image.present? %>
  <%#= image_tag @post.image, alt: 'Post Image' %>
<%# end %>

<p>Tagged People: <%= @post.tag_people %></p>
<p>Created At: <%= @post.created_at %></p>
<p>Updated At: <%= @post.updated_at %></p>

<p><%= link_to 'Edit', edit_post_path(@post) %></p>
<p><%= link_to 'Back to All Posts', posts_path %></p>
<p><%= link_to 'Back to My Account', root_path %></p>


