<h1><%= @post.description %></h1>
<p><%= @post.account.name %></p>
  <% if current_account.following?(@post.account) %>
    <%= button_to 'Unfollow', unfollow_path(@post.account.id) %>
  <% else %>
    <%= button_to 'Follow', follow_path(@post.account.id) %>
  <% end %>
<p><%= link_to 'Edit', edit_post_path(@post) %></p>
<p><%= link_to 'Back to All Posts', posts_path %></p>
<p><%= link_to 'Back to My Account', root_path %></p>
