<% if account_signed_in? %>
<!DOCTYPE html>
<html>
<head>
  <title>New Product</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #4f4b4a;
    }

    .form-container {
      max-width: 400px;
      padding: 20px;
      background-color: #fff; 
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    form label {
      font-weight: bold;
      margin-bottom: 6px;
    }

    form input[type="text"],
    form textarea,
    form input[type="number"],
    form input[type="file"],
    form input[type="submit"] {
      padding: 8px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    form input[type="file"] {
      border: none;
    }

    form textarea {
      resize: vertical;
    }

    form input[type="submit"] {
      background-color: #007bff; 
      color: #fff;
      cursor: pointer;
    }

    .back-button {
      background-color: #4f4b4a
; 
      color: #fff;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 4px;
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 12px;
    }

    input[type="file"]::-webkit-file-upload-button {
      background-color: #4f4b4a
; 
      color: #fff;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

  
    input[type="file"]::-webkit-file-upload-button::before {
      content: "Select Image";
      color: #fff;
    }

  </style>

  <div class="form-container">
    <h1>New Product</h1>

    <%= form_with(model: @product, local: true) do |form| %>

    <% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
    <ul>
        <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
      <%= form.label "picture" %>
      <%= form.file_field :picture %><br>

      <%= form.label :description %>
      <%= form.text_area :description %><br>

      <%= form.label :name %>
      <%= form.text_field :name %>

      <%= form.label :price %>
      <%= form.number_field :price %>

      <%= form.submit 'Create Product' %>
    <% end %>

    <%= link_to 'Back to All Products', products_path, class: 'back-button' %>
  </div>
</body>
</html>
<% end %>

